# === Required Dependencies ===
pandas==1.26.4
numpy==3.0.1
matplotlib==3.10.8
sqlalchemy==2.0.39
mysql-connector-python==9.6.0

# === Optionals Dependencies ===
# Uncomment these if need it:
# pymysql
# mysqlclient
